# Xcode
.build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/
Package.resolved

# macOS
.DS_Store

# IDEs
*.swp
*~

# LSP build server config
buildServer.json
.bundle/

# Archives & build products
dist/
*.ipa
*.dSYM.zip
*.dSYM

# AI
/docs/scratch